# Build folders
Debug/
Release/
build/

# Keil generated
*.o
*.d
*.crf
*.lst
*.axf
*.map
*.hex
*.bin

# Keil user files
*.uvoptx
*.uvguix.*
*.uvgui.*
*.scvd

# VSCode
.vscode/
*.code-workspace

# CubeMX
*.tmp

# OS
.DS_Store
Thumbs.db

# 其他
*.lnp
*.dep
*.bak
JLinkLog.txt
*.log

# Keil 生成日志
*.build_log.htm
*.htm