
# Keil user files
MDK-ARM/**/*.scvd
MDK-ARM/**/*.uvguix.*
MDK-ARM/**/*.uvoptx
MDK-ARM/**/*.lst
MDK-ARM/.vscode/
.mxproject



# 忽略编译生成的文件夹
MDK-ARM/Objects/
MDK-ARM/Listings/
MDK-ARM/DebugConfig/
MDK-ARM/RTE/
MDK-ARM/IIC_HAL/

# VSCode
.vscode/
*.code-workspace





